#header{
  margin: 0 auto;
  padding: 60px;
  background-color: white;
  background-size: 340px 75px;
  background-image: url(https://40.media.tumblr.com/e19a3c761122d15e8bad7ffe0344e68b/tumblr_ntueerC4PP1r7oc5oo1_1280.png);
  background-repeat: no-repeat;
  background-position: center;
}

body{
  margin: 0 auto;
  background-color: #8C4795;
  text-align: center;
  line-height: 165%;
  color: white;
  font-size: 18px;
  font-family: 'Droid Sans', sans-serif;
}

button{
  background-color: #8C4795;
  padding: 12px;
  border: solid white 3px;
  border-radius: 5px;
  color: white;
  font-size: 18px;
  font-family: 'Droid Sans', sans-serif;
}
.checkbox{
  background-color: #8C4795;
  border: solid white 3px;
  border-radius: 5px;
  color: white;
}

button:hover{
  background-color: white;
  color: #8C4795;
}

#profile{
  margin: 25px 10px 75px 50px;
  float:left;
  width: 40%;
  background-color: white;
  background-height: 350px
  line-height: 150%;
  color: #8C4795;
  font-size: 20px;
  font-family: 'Droid Sans', sans-serif;
}
#profile:hover{
  border: solid white 8px;
}

#match{
  margin: 25px 50px 75px 10px;
  float:right;
  width: 40%;
  background-color: white;
  background-height: 350px
  line-height: 150%;
  color: #8C4795;
  font-size: 20px;
  font-family: 'Droid Sans', sans-serif;
}

#match:hover{
  border: solid white 8px;
}

#footer{
  top-margin: 200px;
  padding: 30px;
  background-color:white;
  color: #8C4795;
  text-align: center;
  font-size: 12px;
}

body{
  margin      : 0;
  padding     : 1.5em;
  font-family : sans-serif;
  line-height : 1.5;
}

p{
  margin  : 0 0 1.5em;
  padding : 0;
}

.starRating:not(old){
  display        : inline-block;
  width          : 7.5em;
  height         : 1.5em;
  overflow       : visible;
  vertical-align : bottom;
}

.starRating:not(old) > input{
  margin-right : -100%;
  opacity      : 0;
}

.starRating:not(old) > label{
  display         : block;
  float           : right;
  position        : relative;
  background      : url('http://dreamself.me/share/GreyStarM.png');
  background-size : contain;
}

.starRating:not(old) > label:before{
  content         : '';
  display         : block;
  width           : 1.5em;
  height          : 1.5em;
  background      : url('https://upload.wikimedia.org/wikipedia/commons/7/73/Farm-Fresh_star.png');
  background-size : contain;
  opacity         : 0;
  transition      : opacity 0.2s linear;
}

.starRating:not(old) > label:hover:before,
.starRating:not(old) > label:hover ~ label:before,
.starRating:not(:hover) > :checked ~ label:before{
  opacity : 1;
}
