#header{
  margin: 0 auto;
  padding: 60px;
  background-color: white;
  background-size: 340px 75px;
  background-image: url(https://40.media.tumblr.com/e19a3c761122d15e8bad7ffe0344e68b/tumblr_ntueerC4PP1r7oc5oo1_1280.png);
  background-repeat: no-repeat;
  background-position: center;
}

body{
  margin: 0 auto;
  background-color: #8C4795;
  text-align: center;
  line-height: 165%;
  color: white;
  font-size: 18px;
  font-family: 'Droid Sans', sans-serif;
}

button{
  background-color: #8C4795;
  padding: 12px;
  border: solid white 3px;
  border-radius: 5px;
  color: white;
  font-size: 18px;
  font-family: 'Droid Sans', sans-serif;
}

button:hover{
  background-color: white;
  color: #8C4795;
}

#profile{
  margin: 25px 10px 75px 50px;
  float:left;
  width: 40%;
  background-color: white;
  background-height: 350px
  line-height: 150%;
  color: #8C4795;
  font-size: 20px;
  font-family: 'Droid Sans', sans-serif;
}
#profile:hover{
  border: solid white 8px;
}

#match{
  margin: 25px 50px 75px 10px;
  float:right;
  width: 40%;
  background-color: white;
  background-height: 350px
  line-height: 150%;
  color: #8C4795;
  font-size: 20px;
  font-family: 'Droid Sans', sans-serif;
}

#match:hover{
  border: solid white 8px;
}

#footer{
  top-margin: 200px;
  padding: 30px;
  background-color:white;
  color: #8C4795;
  text-align: center;
  font-size: 12px;
}
